# Discord bridge settings
token: ""
guild-id: ""
status-channel-id: ""
set-presence: true
language: "en"
announcement-role-id: ""
enable-status-embed: true
enable-whitelist: true
enable-announcements: true
